
.Footer_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#686230;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 2%;
    font-weight: bold;
    margin-bottom: 1%;
    
}

.Footer_text h3{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1%;
}

.Footer_text p{
    font-size: 0.8rem;
    font-weight: lighter;
    margin-bottom: 1%;
}

.button{
    background-color: #686230;
    border: none;
    border-radius: 80px;
    font-size: 13px;
    color: #FFFFFF;
    padding: 15px;
    width: 140px;
    text-align: center;
    overflow: hidden;
}

.button:hover{background-color: #333010}

.button:active{
    background-color: #333010;
}

@media only screen and (max-width: 768px) {

    .Footer_text{
        text-align: center;
        color:#686230;
        font-family: 'Inter', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.6rem;
    }
    
    .button{
        background-color: #686230;
        border: none;
        border-radius: 80px;
        font-size: 0.6rem;
        color: #FFFFFF;
        padding: 15px;
        width: 100px;
        text-align: center;
        overflow: hidden;
    }
    
    .button:hover{background-color: #333010}
    
    .button:active{
        background-color: #333010;
    }

  }