.header{
    position: fixed;
    width:100%;
    padding: 2%;  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  
}
.logo{
    width: 100px;
    margin-left: 2%;
    
}
.hamburguerButton{
    background-color: rgb(43, 81, 13);
    display: none;
    cursor: pointer;
    
}
.svg{
     
    width: 2em;
    height: 2em;
    fill: white;
    
}
.nav{
    display:none;
    
}

.ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
        
}




.li a{
    margin: 0.5em;
    color: white;
    text-decoration: none;
 }




@media screen and (max-width:480px) {
    


.hamburguerButton{
    display: block;
    cursor: pointer;
}
.ul{
    width: 100%;
    flex-direction: column;

}

.header .nav{
    width: 100%;
    display:none;
    
}


.header .nav.activo{
    display: block;
    
}

.ul{
    flex-direction: column;
}
li{
 
    margin: 1rem 0;
}
}