section{
    color: white;
    width: 100%;
}

body > main{
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    padding: 7%;
    padding-bottom: 2%;
}

.textWelcome{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items:center;
    margin-top: 25%;
    color: white;
    margin-bottom: 5%; 
}

.welcome{
    font-size: 40px;
    font-weight: bold;   
    margin-bottom: 3%;
}

.description{
    align-self: center;
    font-size: 0,1rem;
    margin-bottom: 3%;
}

.section2{
    padding-top: 8%;
}

.press{
    background-color: #686230;
    border: none;
    border-radius: 80px;
    font-size: 0,9rem;
    color: #FFFFFF;
    padding: 10px;
    width: 160px;
    text-align: center;
    overflow: hidden;
    align-self: center;
}

.press:hover{
    background-color: #333010}

.press:active{
    background-color: #333010;
}

#drum-img{  
    width: 85%;
    height: auto;
}

@media screen and (max-width:480px) {

main{
    display:flex;
    flex-wrap: wrap;
}

.textWelcome{
    justify-content: center; 
    margin-top: 15%; 
}

.welcome{
    margin-top: 20%;
}

body > main{   
    padding: 2%; 
}

#drum-img{   
    width: 85%;
    height: auto;
    margin-top: 1%;
    margin-left: 7%;
    margin-bottom: 2%;
}

.press{
    background-color: #686230;
    border: none;
    border-radius: 80px;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px;
    width: 155px;
    text-align: center;
    overflow: hidden;
    align-self: center;
    }

}

