.logo{
    padding: 0%;

}



.section_image{
align-items:start;
width: -100%;
margin-left: 5%;
}

#piano-div{
    
}

.buttonPremiumPiano{
    background-color: #686230;
    border: none;
    border-radius: 80px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 15px;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    overflow: hidden;
    margin-top: 1%;
}

.linkPremiumPiano{
    padding: 2%;
    margin-left: 50%;
    
}
