.logo{
    padding: 2%;
}

#drum_img--mobile {  
    width: 100%;
    align-self: center;
    
}
#drum_img--mobile-svg {
    width: 100%;
}

.section_image{
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 25%;
}

.buttonPremiumDrum{
    align-self: flex-end;
    background-color: #686230;
    border: none;
    border-radius: 80px;
    font-size: 13px;
    color: #FFFFFF;
    padding: 15px;
    width: 140px;
    text-align: center;
    overflow: hidden;
}

.linkPremium{
    margin-left: 45%;
  
}
