#drum_img--mobile-svg {
    background-image: url(../resources/Images/Imagen\ de\ la\ batería.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
  /*PIANO*/
  #piano-div {
    width: 60%;
    background-image: url(../resources/Images/Piano\ Img.png);
    background-size: 85%;
    background-repeat: no-repeat;
   
    
} 
.animation-piano{
    animation-name: color-animation-piano;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
  }

  @keyframes color-animation-piano {
    from {
      fill: white;
    }
    to {
      fill: grey;
    }
  }

#drum_img--mobile{
  padding-bottom: 10%;
}
