
.logoPremium{
    padding: 2%;
    width: 20%;
}

.section_image{
align-items: start;
width: 100%;
margin-left: 5%;
margin-top: 0;
}

#piano-div {
    width: 60%;
    background-image: url(../resources/Images/Piano\ Img.png);
    background-size: 100%;
     
} 

#buttonPremiumPiano{
    background-color: #686230;
    border: none;
    border-radius: 80px;
    font-size: 22px;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    margin-top: 1%;
}

.linkPremiumPiano{
    padding: 2%;
    margin-right: 50%;
    margin-left: 25%;
    background-color:  #686230;
    border-radius: 80px;
    text-align: center;
    
}
#main-piano {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0;


}

