.header{
  display: flex;
  margin: 0;
  padding: 2%;
  justify-content: space-between;   
}

.my-button {
background-color: transparent;
border: 10px;
color: black;
cursor: pointer;
font-size: 30px;
margin-left: 32px;
float: left;
line-height: 70px;
display: none;
}

.my-button:focus {
outline: none;
}

nav {
  
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content:flex-end;
  list-style: none
}

nav ul li {
  padding: 20px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  
  
}




@media (max-width: 480px) {
nav ul {
  display: none;
  flex-direction: column;
  width: 100%;
}

nav ul.show {
  display: flex;
}

.my-button {
  display: block;
}
}
 

  }