#drum-div {
    background-image: url(../resources/Images/Imagen\ de\ la\ batería.png);
    background-repeat: no-repeat;
    background-size: 100%;
}  
.animation {
    animation-name: color-animation;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
  }

  @keyframes color-animation {
    0% {
      fill: black;
    }
    100% {
      fill: white;
    }
  }
