.header{
    position: fixed;
    width:100%;
    padding: 1em;  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  
}
.logo{
    width: 100px;
    margin-left: 2%;
    
}

.ul{
    display:none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
        
}

.li a{
    margin: 0.5em;
    color: white;
    text-decoration: none;
 }

@media (max-width: 600px) {
    .nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
      }
      
    .nav ul.show {
        display: flex;
      }
      
    .my-button {
        display: block;
      }
    nav {
            background-color: rgb(62, 109, 149);
        }
    }
    
