.logo{
    padding: 2%;
}

#drum_img--mobile {  
   
    display: flex;
    justify-content: center;
    padding-bottom: 5%;

    
}
#drum_img--mobile-svg {
    width: 100%;
    
}
#main-drum{
    display: flex;
    flex-flow: row nowrap;
}


.buttonPremiumDrum{
    align-self: center;
    background-color: #686230;
    border: none;
    border-radius: 80px;
    font-size: 1rem;
    color: #FFFFFF;
    padding: 15px;
    width: 35%;
    height: 15%;
    text-align: center;
    overflow: hidden;
}
 .linkPremium{
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    justify-content: center;
    gap: 2%;

 }
