@import url('./reset.css');
@import url(./css/styleNavBar.css);
@import url(./css/styleMain.css);
@import url(./css/styleFooter.css);
@import url(./css/styleDrumPage.css);


*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#c08332, #FFFFFF);
    background-repeat: no-repeat;
}
