@import url('./reset.css');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
  background: linear-gradient(#c08332, #FFFFFF);
        
}
/* navBar*/

.header{
    position: fixed;
    width:100%;
    padding: 1em;  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  
}
.logo{
    width: 100px;
    margin-left: 2%;
    
}
.jbutton{
    background-color: rgb(43, 81, 13);
    display: none;
    cursor: pointer;
    
}
.svg{
     
    width: 2em;
    height: 2em;
    fill: white;
    
}
.nav{
    display:none;
    
}

.ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
        
}




.li a{
    margin: 0.5em;
    color: white;
    text-decoration: none;
 }




@media screen and (max-width:480px){
    


.jbutton{
    display: block;
    cursor: pointer;
}
.ul{
    width: 100%;
    flex-direction: column;

}

.header .nav{
    width: 100%;
    display:none;
}


.header .nav.activo{
    display: block;
    
}

.ul{
    flex-direction: column;
}
li{
 
    margin: 1rem 0;
}

}
    

/*----------------navbar---------------*/
section{
    color: white;
    width: 100%;
    
}
body > main{
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    padding: 10%;
    
}




.div_welcome{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items:center;
    padding-top: 4rem;
    color: white;
   
}

.welcome{
    font-weight: bold;
    font-size: 3rem;
    align-self: center;
   /* margin-left: 2rem;
    margin-right: 2rem;*/
}

.description{
    align-self: center;
    font-size: 0,1rem;
}

.press{
    background-color: #686230;
    border: none;
    border-radius: 80px;
    font-size: 0,9rem;
    color: #FFFFFF;
    padding: 15px;
    width: 130px;
    text-align: center;
    overflow: hidden;
    align-self: center;
}

.press:hover{background-color: #333010}

.press:active{
    background-color: #333010;
}
#drum-img{
    
    width: 100%;
    height: auto;
    margin-right: 0%;
    padding-right: 0% ;
}



.Footer_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#686230;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    
}

.button{
    background-color: #686230;
    border: none;
    border-radius: 80px;
    font-size: 13px;
    color: #FFFFFF;
    padding: 15px;
    width: 140px;
    text-align: center;
    overflow: hidden;
}

.button:hover{background-color: #333010}

.button:active{
    background-color: #333010;
}

@media only screen and (max-width: 768px) {

    .Footer_text{
        text-align: center;
        color:#686230;
        font-family: 'Inter', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.6rem;
    }
    
    .button{
        background-color: #686230;
        border: none;
        border-radius: 80px;
        font-size: 0.6rem;
        color: #FFFFFF;
        padding: 15px;
        width: 100px;
        text-align: center;
        overflow: hidden;
    }
    
    .button:hover{background-color: #333010}
    
    .button:active{
        background-color: #333010;
    }

  }